<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
<!-- <table mat-table [dataSource]="courses" class="mat-elevation-z8"> -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> PRECIO </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="editCurso(element)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>

      <button (click)="deleteCurso(element.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> - </th>
    <td mat-cell *matCellDef="let element"> {{element.actions}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button (click)="abrirDialog()" mat-flat-button class="botonAgregar">
  <mat-icon>add</mat-icon>Agregar curso
</button>
