.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(243, 237, 237, 0.979);
}

.card{
    max-width: 400px;
}

.card-header{
    justify-content: center;
}

.cajones{
    margin: 10px;
    width: 350px;
}