.example-container {
    width: 100%;
    height: 100vh;
}

.example-sidenav-content {
    height: 100%;
}

.example-sidenav {
    width: 200px;
    padding: 20px;
}

.example-icon {
    margin: 40px;
}

.color-style {
    color: #00838F;
}

.titulo{
    margin: 30px;
    position: relative;
    left: 30%;
}

.bg-color {
    // background-color: rgba(243, 237, 237, 0.979)
    background-color: rgb(245, 245, 245);
}

.contenidoMain{
    margin: 20px;
}